<header class="site-header">
    <div class="header-inner">
        <a class="brand" href="{{ site.baseurl }}/{{ page.lang }}">
            <img src="{{ site.baseurl }}/assets/img/logo-white.png" alt="League2GO"/>
        </a>
        <nav>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/{{ page.lang }}">{{ site.t[page.lang].help_center }}</a>
                </li>

                {% assign articles=site.help | where:"localization", page.localization | sort: 'lang' %}
                {% for a in articles reversed %}
                {% if a.hide != true and a.lang != page.lang %}
                <li>
                    <a href="{{ a.url }}" class="{{ a.lang }}">{{ site.languages[a.lang] }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% assign pages=site.pages | where:"localization", page.localization | sort: 'lang' %}
                {% for pa in pages reversed %}
                {% if pa.hide != true and pa.lang != page.lang %}
                <li>
                    <a href="{{ pa.url }}" class="{{ pa.lang }}">{{ site.languages[pa.lang] }}</a>
                </li>
                {% endif %}
                {% endfor %}

                <li>
                    <a class="cta" href="https://league2go.com/?lang={{ page.lang }}#/">{{ site.t[page.lang].open_app }}</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
